<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="BrokerHostName" value="eu.thethings.network" />
    <add key="ApplicationId" value="[TTN App Id]" />
    <add key="ApplicationAccessKey" value="[TTN App Access Key]" />
    <add key="DeviceKeyKind" value="Primary" />
    <add key="Topic" value="#" />
    <add key="ShortIotHubName" value="[short iothub name]"  />
    <add key="KeepAlivePeriod" value="60" />
    <add key="ExitOnConnectionClosed" value="False" />
    <add key="RemoveDevicesAfterMinutes" value="60" />
    <add key="SilentRemoval" value="True" />
    <add key="WhiteListFileName" value="Filter\whitelist.json" />
    <add key="AddGatewayInfo" value="True" />
  </appSettings>

  <connectionStrings>
    <add name="IoTHub" connectionString="HostName=[short iothub name].azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=[shared access key]" />
  </connectionStrings>

</configuration>
